html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; background:#000; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

h1, h2, p { color:#fff; margin-bottom:0.5em;}
h1 { font-size:48px; font-family: 'Passion One', Helvetica, sans-serif; }
h2 { font-size:24px; font-family: 'Enriqueta', Times, sans-serif; margin-bottom:20px; }
p { line-height:1.5; font-family: 'Enriqueta', Times, sans-serif; }
em { font-style:italic; }

.screen { position:absolute; top:0; left:0; width:1024px; height:758px; background:url(../images/bg.jpg) no-repeat; display:none;}
.screen_inner { margin:5% auto; width:80%; background:rgba(0,0,0,0.8); border-radius:10px; box-shadow:0 0 15px #000; padding:30px; border:2px dashed #fff; }

#intro { display:block; background-image:url(../images/bg_intro.jpg); }
a, #intro p strong { color:#fc0; }
#intro section { border-top:1px solid #ccc; padding-top:20px; margin-top:25px; }
#intro blockquote { font-size:18px; padding:10px 20px; }
.bttn.start_game { width:200px; height:30px; padding:10px; margin-top:10px; border:2px solid #fff; margin:0 auto; text-align:center; border-radius: 10px; }
.bttn.disabled { opacity:0.5; }
#intro .examples { display:block; clear:both; overflow:hidden; margin-bottom:10px; margin-left:200px; }
#intro h1, #intro h2 { text-align:center; }
.bttn, .buttons li { cursor:pointer; }

.player { width:768px; height:512px; position:absolute; -webkit-transform: rotate(90deg); top:128px; left:-130px; }
#player_red { -webkit-transform:rotate(-90deg); left:383px; }
#player_blue .scores .blue, #player_red .scores .red { font-size:28px; margin:5px; }
#player_blue .scores .red, #player_red .scores .blue { font-size:16px; margin-top:10px; }
#countdown { position:absolute; top:320px; left:458px; width:100px; height:100px; font-size:16px; text-align:center; z-index:3; }
#countdown h1 { font-size:60px; text-shadow:0 0 10px #000; color:#fc0; }
#countdown h1.home { font-size:48px; }
.messages { position:absolute; top:220px; left:150px; width:450px; height:80px; text-align:center; font-size:48px; color:#fff; z-index:2; opacity:0; background:#000; border:2px dashed #fff; border-radius:10px; padding:20px; }
.messages.subtle { background:transparent; border:0px; }
.messages span { font-size:36px; }
.buttons { position:absolute; bottom:20px; left:20px; }
#intro .examples li, .challenge, .buttons li, .history ul li { width:90px; height:90px; margin-left:10px; float:left; background-repeat: no-repeat; background-position:50% 50%; background-size:cover; }
#intro .examples li { width:48px; height:48px; float:left; margin-right:32px; }
.buttons li { border-width:5px; }
.buttons li.disabled { opacity:0.3; }
.buttons li.clicked { opacity:0.6; }
.rock { background-image:url(../images/rock_blue.png); }
.paper { background:url(../images/paper_blue.png); }
.scissors { background:url(../images/scissors_blue.png); }
.lizard { background:url(../images/lizard_blue.png); }
.spock { background:url(../images/spock_blue.png); }
#player_red .challenge.rock, #player_red .buttons .rock { background-image:url(../images/rock_red.png); }
#player_red .challenge.paper, #player_red .buttons .paper { background:url(../images/paper_red.png); }
#player_red .challenge.scissors, #player_red .buttons .scissors { background:url(../images/scissors_red.png); }
#player_red .challenge.lizard, #player_red .buttons .lizard { background:url(../images/lizard_red.png); }
#player_red .challenge.spock, #player_red .buttons .spock { background:url(../images/spock_red.png); }
.challenge { position:absolute; -webkit-transform: rotate(180deg); }
.challenge_container { position:absolute; opacity:0; overflow:hidden; width:160px; height:160px; }
.challenge_container .challenge { width:100%; height:100%; }
.scores { position:absolute; right:30px; bottom:25px; width:85px; height:80px; background:#000; border-radius:8px; text-align:center; }
.timer { position:absolute; right:130px; bottom:25px; width:20px; height:60px; background:#000; border-radius:8px; padding:10px; }
.bar { position:relative; bottom:0; width:100%; height:100%; background:#039; }
#player_red .timer .bar { background:#930; }

.scores p { line-height:1; }
#intro span.blue, .messages .blue, .scores p.blue { color:#16F; }
#intro span.red, .messages .red, .scores p.red { color:#F40; }
.history { position:absolute; bottom:120px; right:25px; width:100px; height:380px; overflow:hidden; }
.history ul { width:42%; padding:0px 3%; float:left; }
.history ul li { width:24px; height:24px; background-size:cover; margin-bottom:5px; }
.history ul.red .rock { background-image:url(../images/rock_red.png); }
.history ul.red .paper { background-image:url(../images/paper_red.png); }
.history ul.red .scissors { background-image:url(../images/scissors_red.png); }
.history ul.red .lizard { background-image:url(../images/lizard_red.png); }
.history ul.red .spock { background-image:url(../images/spock_red.png); }
.pause, .quit { position:absolute; top:60px; left:20px; color:#fff; }
.quit { left:40px; }

.pause { display:none; }
#overlay { text-align:center; font-size:24px; color:#fff; background:#000; display:table-cell; vertical-align:middle; width:100%; height:100%; position:absolute; z-index:5; }
